* {
    font-family: Poppins;
	font-size: 15px; /*475057*/
	color: #475057;
}


#create-user-icon {
    font-size: 20px;
}

.delete-icon{
    color: red;
}

div .bg-secondary{
	background-color: lightgrey!important;
}

.parameters-frame{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 2rem
}

.parameters-frame p{
    font-size: 1.2rem
}

