* {
    font-family: Poppins;
	font-size: 15px; /*475057*/
	color: #475057;
}


.create-add-user-icon {
    font-size: 20px;
}

.delete-icon{
    color: red;
}

div .bg-secondary{
	background-color: lightgrey!important;
}

.parameters-frame{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 2rem
}

.parameters-frame p{
    font-size: 1.2rem
}

.backrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none; /* none flex*/
    align-items: center;
    justify-content: center;
}

.modal-box {
    width: 500px;
    max-width: 100%;
    background: #ffffff;
    padding: 15px;
}

/* #close-modal {

} */


#myMap {
   
    width: 100%;
    height: 300px;
}